@import url(./_type/header__lang-link_type_base.css);
@import url(./_type/header__lang-link_type_underline.css);

.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  font-style:  normal;
  font-weight: 400;
  display: flex;
}


@media all and (max-width: 575px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.3;
  }
}
