@import url(./_active/header__lang-link_aсtive.css);

.header__lang-link {
  text-decoration: none;
  color: white;
  transition: opacity .5s;
  margin-left: 18px;
 }

.header__lang-link:hover {
  opacity: .8;
}


